html,
body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 80vh;
  width: 100vw;
  color: #f2f2f2;
  gap: 20px;
}

button {
  background-color: #383c44;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #4a4e5a;
}

button.active {
  background-color: #4a4e5a;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

.groups {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.romaji {
  font-size: 3rem;
  font-weight: normal;
}

.katakanas {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 3rem;
  font-weight: lighter;
}

.viewBtn {
  font-size: 1rem;
  background-color: #383c44;
}